<div class="nav-container">
  <a id="top"></a>
  <nav class="absolute transparent">
    <div class="nav-bar">
      <div class="module left">
        <a href="/">
          <%= image_tag 'logo-light', class: 'logo logo-light' %>
        </a>
      </div>
      <div class="module widget-handle offscreen-toggle right visible-sm visible-xs">
        <i class="ti-menu"></i>
      </div>
      <div class="module-group right">
        <div class="module left">
          <ul class="menu">
            <li class="has-dropdown">
              <a href="#">
                Home
              </a>
              <ul class="mega-menu">
                <li>
                  <ul>
                    <li>
                      <%= link_to 'FAQ', faq_path %>
                    </li>
                    <li>
                      <%= link_to 'Videos', videos_path %>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
              <a href="#about" class="inner-link">About</a>
            </li>
            <li>
              <a href="#testimonials" class="inner-link">Testimonials</a>
            </li>
            <li>
              <a href="#shows" class="inner-link">Shows</a>
            </li>
            <li>
              <a href="#advantage" class="inner-link">Advantage</a>
            </li>
          </ul>
        </div>
        <!--end of menu module-->

        <div class="module widget-handle language left">
          <ul class="menu">
            <li>
              <div class="modal-container">
                <a class="btn-modal" href="#">
                  Contact Us
                </a>
                <div class="foundry_modal text-center image-bg overlay">
                  <div class="background-image-holder">
                    <!-- <img alt="Background" class="background-image" src="img/modal2.jpg" /> -->
                    <%= image_tag 'modal', class: 'background-image' %>
                  </div>
                  <h3 class="uppercase">Got a question?</h3>
                  <p class="lead mb48">
                    Need to contact us directly. Feel free to submit your question
                    <br /> or comment below, and we will get back to you in 24 hours.
                  </p>
                  <form class="form-email" data-success="Thanks for your submission, we will be in touch shortly." data-error="Please fill all fields correctly.">
                    <input type="text" class="validate-required transparent" name="name" placeholder="Your Name" />
                    <input type="text" class="validate-required validate-email transparent" name="email" placeholder="Email Address" />
                    <textarea class="validate-required transparent" name="message" rows="4" placeholder="Message"></textarea>
                    <button type="submit">Send Message</button>
                  </form>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <!--end of module group-->
    </div>

    <div class="offscreen-container bg-dark text-center">
      <div class="close-nav">
        <a href="#">
          <i class="ti-close"></i>
        </a>
      </div>
      <div class="v-align-transform text-center">
        <a href="/">
          <%= image_tag 'logo-light', class: 'image-xs mb40 mb-xs-24' %>
        </a>
        <ul class="mb40 mb-xs-24">
          <li class="fade-on-hover">
            <a href="#top" class="inner-link">
              <h5 class="uppercase mb8">Home</h5>
            </a>
          </li>
          <li class="fade-on-hover">
            <a href="#about" class="inner-link">
              <h5 class="uppercase mb8">About</h5>
            </a>
          </li>
          <li class="fade-on-hover">
            <a href="#testimonials" class="inner-link">
              <h5 class="uppercase mb8">Testimonials</h5>
            </a>
          </li>
          <li class="fade-on-hover">
            <a href="#shows" class="inner-link">
              <h5 class="uppercase mb8">Shows</h5>
            </a>
          </li>
          <li class="fade-on-hover">
            <a href="#advantage" class="inner-link">
              <h5 class="uppercase mb8">Advantage</h5>
            </a>
          </li>
        </ul>
        <p class="fade-half">
          PO Box 1012
          <br /> Wheaton, IL 60187
          <br /> (406) 581 1544
          <br /> rose.timmer@loringindustries.com
        </p>
        <ul class="list-inline social-list">
          <li>
            <a href="https://twitter.com/LoringSales" target="_blank">
              <i class="ti-twitter-alt"></i>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/company/18214885/" target="_blank">
              <i class="ti-linkedin"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
